<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="float: left; width: 100%; min-height: 20px; margin-bottom: 10px; background-color: #E6E6E6; color: #FF0000; text-align: center"
		th:fragment="header">
		This is the header!<br/>
		We wish you a nice day <span th:text="${userOfSession?.firstName}">name</span>
	</div>
</body>
</html>