<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div style="float: left; width: 100%; padding-left: 5px; padding-right: 5px">
		<h1>Hello world!</h1>
		<P>
			The time on the server is <span th:text="${serverTime}">serverTime</span>.
		</P>
		<h1 th:text="#{view.login.label.login}">login</h1>
	
		<p th:if="${loginModel.errorMessageI18n}"><span th:text="#{${loginModel.errorMessageI18n}}" style="background-color: #FF0000;">error message</span></p>
		<p th:if="${loginModel.successMessageI18n}"><span th:text="#{${loginModel.successMessageI18n}}" style="background-color: #80FF00;">success message</span></p>
	
		<form action="#" th:action="@{/login}" th:object="${loginModel}" method="post">
	    	<p>email: <input type="text" th:field="*{email}" /></p>
	        <p>password: <input type="password" th:field="*{password}" /></p>
	        <p><input type="submit" value="Submit" /></p>
	    </form>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>
